<div class="works">
    <h1>Works</h1>
    <div class="row">

        <div class="col-md-3">
            <img src="/img/acdc_highvoltage_aus_cover.jpg" alt="">
            <h5>High Voltage 1975</5>
        </div>
        <div class="col-md-3">
            <img src="/img/cover-14.jpg" alt="">
            <h5>Let There Be Rock 1977</h5>

        </div>
        <div class="col-md-3">
            <img src="/img/cover-17.jpg" alt="">
            <h5>Highway To Hell 1979</h5>

        </div>
        <div class="col-md-3">
            <img src="/img/cover-3.jpg" alt="">
            <h5>Back In Black 1980</h5>

        </div>




    </div>


</div>

</div>